<form action="" id="form" [formGroup]="popupForm" (ngSubmit)="onSubmit()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="header">
        <h2>Welcome to You&Me Shop</h2>
        <img class="logo" src="./../../assets/you&me.jpg" alt="">

    </div>

    <div class="form-control">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
        <div class="error-message" *ngIf="popupForm.get('name').touched && popupForm.get('name').errors">
            <div *ngIf="popupForm.get('name').hasError('required')">Name is required.</div>
            <div *ngIf="popupForm.get('name').hasError('minlength')">Name must be at least 3 characters long.</div>
            <div *ngIf="popupForm.get('name').hasError('maxlength')">Name cannot exceed 20 characters.</div>
        </div>
    </div>

    <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <div class="error-message" *ngIf="popupForm.get('email').touched && popupForm.get('email').errors">
            <div *ngIf="popupForm.get('email').hasError('required')">Email is required.</div>
            <div *ngIf="popupForm.get('email').hasError('email')">Invalid email format.</div>
        </div>
    </div>

    <div class="form-control">
        <label for="mobilenumber">Mobile Number:</label>
        <input type="number" id="number" formControlName="mobilenumber" />
        <div class="error-message"
            *ngIf="popupForm.get('mobilenumber').touched && popupForm.get('mobilenumber').errors">
            <div *ngIf="popupForm.get('mobilenumber').hasError('required')">Mobile Number is required.</div>
            <div *ngIf="popupForm.get('mobilenumber').hasError('pattern')">Invalid mobile number format.</div>
        </div>
    </div>
    <div class="btn">
        <button type="submit" [disabled]="popupForm.invalid">Subscribe</button>
        <!-- <button type="button-close" (click)="">Close</button> -->

    </div>

    <!-- <div class="error-message" *ngIf="errorMessage"></div> -->
    <!-- <div class="success-message" *ngIf="successMessage"></div>  -->
</form>